body p{
    font-family: 'Times New Roman', Times, serif;
    
    color: olive;
    background-color: rgb(203, 231, 255);
    text-align: justify;
    text-indent: 5em;
    text-shadow: 1px 2px 2px  brown  ;
}

h1{ font-family: impact;
    font-size: 2em;
    font-weight: medium ;
    font-style: italic;
    letter-spacing: .25em;
    text-align: center;
    

    text-transform: capitalize;
    
}

p::first-letter{
    font-size: 200%;
    
}
a:link{
    color: gold;
    font: 1em sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-weight: medium;
    margin: 20px;
    border: 2px dotted green;
    width: 2px;
    margin: 20px;
    padding: 20px 30px 40px 50px;


}
 
a:visited{
    color: teal;
}
 a:hover{
    color: bisque;
 }
  a:active{
    color: aqua;
  }

a:focus{
    color: green;
}

#ed{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    
}

.it{
    border: 2px solid greenyellow;
    border-inline-color: solid black;
    width: 250px;
    height: 400;
    padding: 2%;
    margin: 20px;
} 
 